<% layout('layouts/boilerplate') %> 
    <div class="row">
        <h1 class="text-center">New campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="post" class="validated-form" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="form-label" for="price">Campground price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">Rs.</span>
                        <input type="text" class="form-control" id="price" placeholder="0" aria-describedby="price-label" name="campground[price]" required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Add Images</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="mb-3">
                  <button class="btn btn-success">Submit</button>
                  <a href="/campgrounds" class="link-secondary" style="margin-left: 72%;">Back</a>
                </div>  
            </form>
        </div>
    </div>
    